HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 配置
application-*.yml

## 日志
logs/

## 旧文件
old-index.html

## 配置文件
.env
.env.local

## 前端
node_modules/
dist/
dist-ssr/
*.local

## error 记录文件
error/
/.claude/settings.local.json
